@font-face {
    font-family: Roboto;
    src: url(../assets/font/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: #E5F1F9;
}

p {
    opacity: 60%;
}

ul, li , a {
    text-decoration: none;
    list-style-type: none;
}

/* login page */

.log-incontainer {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.company-logo-right {
    width: 50%;
    height: 100vh;
    background-color: #E5ECED;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.comp-logo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #FFFFFF;
}

.comp-logo img {
    width: 300px;
    height: 300px;
    margin: auto 0px;
}

.login-admin {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.log-in-in-word {
    font-weight: bold;
    font-size: 40px;
    margin: 30px 0 10px 0;
}

.login-text-small {
    font-size: 1.1rem;
    opacity: 50%;
    margin-bottom: 20px;
}

.log-in-textbox {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.input-boxes {
    position: relative;
    width: 100%;
}

.input-boxes img {
    width: 20px;
    padding: 2px;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    left: 10px;
    transform: translate(-50% , -50%);
    background-color: #316A9E;
    border-radius: 5px;
}

.input-user {
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 40px;
    border-radius: 7px;
    width: 100%;
    font-size: 0.8rem;
    margin: 10px 0;
}

.forget-password {
    text-align: right;
    margin-bottom: 10px;
}

.forget-password a {
    color: #316A9E;
    font-size: 0.8rem;
}

.login-btn {
    outline: none;
    border: none;
    background: #316A9E;
    padding: 8px 20px;
    border-radius: 7px;
    color: #FFFFFF;
    cursor: pointer;
}


/* tracking page */

.full-app-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.navigation-dashboard {
    background-color: #FFFFFF !important;
    width: 18%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.img-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px;
}

.img-logo img {
    width: 55px;
    margin-right: 10px;
}

.img-logo p {
    font-weight: 600;
}

.icon-link {
    width: 18px;
    margin-right: 10px;
}

.nav-collection {
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bottom {
    margin-bottom: 20px;
}

.nav-right ul li a, .nav-bottom ul li a {
    font-size: 0.8rem;
    color: #000000;
    opacity: 90%;
    display: flex;
    justify-items: center;
    padding: 10px 10px 10px 20px;
    transition: all ease-in-out 0.2ms;
}

.nav-right ul li a:hover, .nav-bottom ul li a:hover {
    background-color: #31699e15;
}

.active-nav {
    background-color: #31699e44;
}

.nav-bottom {
    justify-items: end;
}

.cars-tracked {
    width: 30%;
    padding: 20px 15px 0 15px;
}

.search-box > p {
    padding-bottom: 20px;
    font-weight: 600;
}

.search-box-txt {
    position: relative;
}

.search-box-txt img {
    width: 15px;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    left: 10px;
    transform: translate(-50% , -50%);
}

.track-search {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    width: 290px;
}

.search-container {
    display: flex;
}

.search-btn input {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px 8px 10px 8px;
    border-radius: 10px;
    width: 45px;
    margin-left: 15px;
}

.search-btn {
    position: relative;
}

.search-btn img {
    width: 14px;
    position: absolute;
    margin-left: 8px;
    top: 47%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.cars-tracked-inner {
    width: 100%;
}

.tracked-car {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #ffffff;
    margin: 15px 0 15px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9rem;
}

.tracked-car :first-child {
    font-weight: 600;
}

.tracked-car:hover {
    background-color: #31699e15;
}

.status-car {
    background-color: #6FD0B2;
    border-radius: 10px;
    padding: 2px 20px;
    font-size: 0.6rem;
}

.map-section {
    background-color: #FFFFFF;
    width: 52%;
    overflow: hidden;
    padding: 8px 10px 10px 10px;
}

.map-section {
    width: 52%;
    height: 100vh;
}

.map-section-map {
    height: 50vh;
}

.map-section-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.details-section {
    padding-top: 20px;
    width: 100%;
}

.details-nav {
    border-top: 1px solid #0000004a;
    opacity: 40%;
    display: flex;
    justify-content: space-between;
}

.main-p {
    padding-bottom: 10px;
} 

.nav-btn {
    outline: none;
    border: none;
    padding: 8px 20px;
    background: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
    scale: 1.1;
}

.nav-btn-activated {
    border-bottom: 2px solid #316A9E;
}

.paper-details, .driver-details, .vehicle-details {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 30px 0 30px;
    height: 100%;
    width: 100%;
}

.icon img {
    width: 120px;
    margin: 0 80px 0 50px;
}

.driver-details-hidden {
    display: none;
}

.items-list {
    margin-bottom: 15px;
}

.items-list p {
    font-size: 0.8rem;
}

.item-below {
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}


/* notifications page */
.container-main-area-dashboad {
    width: 82%;
    height: 100vh;
    overflow: hidden;
    padding: 30px 15px 15px 15px;
}

.notification-pannel {
    border-radius: 15px;
    height: 70px;
    padding: 0 15px; 
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notification-pannel img {
    width: 30px;
    object-fit: contain;
    margin-right: 40px;
}

.success {
    background-color: #DCECDD;
}

.warning {
    background-color: #ECDCDC;
}

.caution {
    background-color: #E4DDBC;
}

.split-notification {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 55px);
}

/* users page */
.search-container-main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 20px;
}

.full-app-container {
    position: relative;
}


.add-item-action {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #316A9E;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}

.add-item-action:hover {
    background: #618fb9;
}

.add-item-action img {
    width: 30px;
    position: absolute;
}

/* table css in pages */
.table-container table {
    border-spacing: 1;
    border-collapse: collapse;
    /* background: ; */
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  table * {
      position: relative;
      font-size: 0.8rem;
  }
  
  table thead tr {
      height: 35px;
      background: #FFFFFF;
      border-bottom: 1px solid #0000000e;
  }
  
  table tbody tr {
      height: 50px;
      background: #FFFFFF;
      border-bottom: 1px solid #0000000e;
      font-size: 0.6rem;
  }

  table tbody tr:last-child {
    border-bottom: none;
  }
  
  .column1 {
      width: 70px;
      text-align: center;
    }
    
    .column2 {
      width: 60px;
      text-align: center;
    }
    
    .column3 {
      width: 200px;
      text-align: center;
    }
    
    .column4 {
      width: 20%;
      text-align: center;
    }
    
    .column5 {
      width: 10px;
      text-align: center;
    }

    .column6 {
        width: 40px;
        text-align: center;
      }
  
    .column5 img {
      width: 20px;
      object-fit: contain;
    }
  
    tr .column2 {
      padding-left: 50px;
    }
  
    .column5 img {
      cursor: pointer;
    }

    .qr-picture-column img {
        width: 40px;
    }

    .action-column-buttons button img {
        width: 20px;
    }

    .action-column-buttons button {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        margin: 0 5px;
    }

    .column-role p{
        background-color: #316A9E;
        color: #ffffff;
        padding: 5px 0px;
        border-radius: 4px;
    }

